<footer class="footer">
    <div class="footer-container">
        <p>&copy; <%= new Date().getFullYear() %> ShopEase. All rights reserved.</p>

        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>

        <a href="#top" class="scroll-top"><i class="fas fa-arrow-up"></i></a>
    </div>
</footer>
</body>

</html>