<header class="navbar">
    <div class="logo">My Shop</div>
    <nav>
        <ul>
            <li><a href="/shop" class="<%= path === '/shop/' ? 'active' : '' %>">Shop</a></li>
            <li><a href="/admin/add-product" class="<%= path === '/admin/add-product' ? 'active' : '' %>">AddProduct</a>
            </li>
        </ul>
    </nav>
    </header>